{% extends 'base.html.twig' %}
{% block title %}Hello ClientController!{% endblock %}
{% block body %}
{{ form(form)}}
<a href="{{ path('client_index') }}"> <button class="btn btn-primary pull-right">Retour</button></a>

{% endblock %}